<div class="bg">
<div class="container">
    <div class="row">
        <div class="profile-dp">
                <img class="img-radius img-fluid wid-100" src='../../../assets/skype.png' alt="">
                <h5>test@outlook.com</h5>
        </div>
    </div>

    <div class="row">
        <div class="profile-dp">
                <img class="img-radius img-fluid wid-100" src='../../../assets/discord.png' alt="">
                <h5>test@outlook.com</h5>
        </div>
    </div>

    <div class="row">
        <div class="profile-dp">
                <img class="img-radius img-fluid wid-100" src='../../../assets/gmail.png' alt="">
                <h5>test@outlook.com</h5>
        </div>
    </div>
</div>
</div>