   <!-- <div class="col-12">
          <div class="row"> -->
          <!-- <div class="container"> -->
            <ngb-carousel *ngIf="images">
          <ng-template ngbSlide>
                  <img class="img-fluid" [src]="images[0]" alt="First slide">
              <div class="carousel-caption">
                  <h3><strong>{{'Powerleveling Services' | translate}}</strong></h3>
                  <p>{{'Fast and convenient. 
                      Check out the price list and contact us for further details.' | translate}}</p>
              </div>
          </ng-template>
          <ng-template ngbSlide>
                  <img class="img-fluid" [src]="images[1]" alt="Second slide">
              <div class="carousel-caption">
                  <h3><strong>{{'Sell your items' | translate}}</strong></h3>
                  <p>{{'You\'re welcome to add your items to our sales list. 
                    If your item gets sold through our website, we\'ll charge a 5% fee.' | translate}}</p>
              </div>
          </ng-template>
          <ng-template ngbSlide>
                  <img class="img-fluid" [src]="images[2]" alt="Third slide">
              <div class="carousel-caption">
                <h3><strong>{{'Get anything you need' | translate}}</strong></h3>
                <p>{{'Choose items and characters from our listings. 
                    If you can\'t find what you\'re looking for, feel free to place an order.' | translate}}</p>
              </div>
          </ng-template>
      </ngb-carousel>
    <!-- </div> -->
  <!-- </div>
</div> -->

<!-- <app-footer></app-footer> -->