<div class="bg">
    <div class="container">

        <div class="border card text-white bg-light mb-12">
            <div class="card-body">
                <h5 class="control-label"><strong>{{'Powerleveling - Talking Island' | translate}}</strong></h5>
                <!-- <div class="d-flex flex-row">
                    <label>&nbsp; {{'Server' | translate}} &nbsp;</label>
                    <select class="form-control input-sm" [(ngModel)]="selectedServer">
                        <option selected>Talking Island</option>
                        <option selected *ngFor="let server of servers">{{ server }}</option>
                    </select>
                </div> -->
                <div class="table-responsive-md">
                    <table class="table table-md table-hover">
                        <thead class="table-secondary">
                            <tr>
                                <th>{{'Level Range' | translate}}</th>
                                <th>{{'Price per level (USD)' | translate}}</th>
                                <th>{{'Price for full range (USD)' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-primary">
                                <td>
                                    1-40
                                </td>
                                <td>
                                    N/A
                                </td>
                                <td>
                                    $10
                                </td>
                            </tr>
                            <tr class="table-primary">
                                <td>
                                    40-50
                                </td>
                                <td>
                                    $2.5
                                </td>
                                <td>
                                    $15
                                </td>
                            </tr>
                            <tr class="table-primary">
                                <td>
                                    50-60
                                </td>
                                <td>
                                    $3
                                </td>
                                <td>
                                    $25
                                </td>
                            </tr>
                            <tr class="table-primary">
                                <td>
                                    60-70
                                </td>
                                <td>
                                    $4
                                </td>
                                <td>
                                    $30
                                </td>
                            </tr>
                            <tr class="table-primary">
                                <td>
                                    70-76
                                </td>
                                <td>
                                    $6
                                </td>
                                <td>
                                    $30
                                </td>
                            </tr>
                            <tr class="table-primary">
                                <td>
                                    76-77
                                </td>
                                <td>
                                    N/A
                                </td>
                                <td>
                                    $12
                                </td>
                            </tr>
                            <tr class="table-primary">
                                <td>
                                    77-78
                                </td>
                                <td>
                                    N/A
                                </td>
                                <td>
                                    $15
                                </td>
                            </tr>
                            <tr class="table-primary">
                                <td>
                                    78-79
                                </td>
                                <td>
                                    N/A
                                </td>
                                <td>
                                    $25
                                </td>
                            </tr>
                            <tr class="table-primary">
                                <td>
                                    79-80
                                </td>
                                <td>
                                    N/A
                                </td>
                                <td>
                                    $60
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>