.bg{
    background-image: url(../../../assets/itemback.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:20px;
}

.table tr{
    cursor: pointer;
}

.table th{
    cursor: auto;
}

.table{
    margin-top: 10px;
}

.form-control{
    max-width: 130px;
    text-align: left;
}

.card{
    max-width: 200rem;
}

.modal-footer{
    display: none;
}

.modal-body{
    margin-bottom: 0;
}
