.bg{
    background-image: url(../../../assets/itemback.jpg);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:20px;
}

.table tr{
    cursor: pointer;
}

.table th{
    cursor: auto;
}

.table{
    margin-top: 10px;
}

.form-control{
    max-width: 130px;
    text-align: left;
}

.card{
    max-width: 200rem;
}

.img-responsive{
    max-width: 100%;
    size: 100%;
}

.modal-footer{
    display: none;
}

.modal-body{
    margin-bottom: 0;
}

label{
    font-size: 15px;
    margin: 3px;
}

.table-hover>thead>tr.no-hover:hover {
    background-color: #4d4d4d;
}
